@import "~bootstrap/scss/bootstrap.scss";


.background-image{
  background-image: url("https://images.unsplash.com/photo-1528588641076-3fe42e01df36?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1631&q=80");
  height: 900px;
  position:relative;
  
 
}


.card {
  margin-left:44.4%;
  background-color:rgb(215,211,205);
  transform:rotate(-0.18deg);
  position:absolute;
  top:249px;
  
 

  
  
  

}
i .far{
    background-color:red;
}
.html-icon{
    font-size: 25px;
    margin-left: -9px;
   margin-top: 3px;
    
}
.title-left{
   
    text-align: left;
    margin-top: 2px;
    letter-spacing: -0.5px;
   
    
}
.html-title{
    margin-top: -7px;
    font-size:13.6px;
    


}
.name-title{
    margin-top: -5px;
    font-size: 14px;

}
.ellipsis{
    font-size: 26px;
    margin-right: -8px;
   margin-top: -7px;
    
}
.card-img-top {
  margin-left: -2px;
  margin-top: 0px;
}
.icons-left{
    font-size: 30px;
}
.icon-bookmark{
    font-size: 30px;
   
}
.card-body{
    margin-top: -10px;
    margin-left:-9px;
}
.card-caption {
  margin-top: -8px;
  font-size: 13px;
}
.card-text {
  margin-top:-7px;
  font-size: 14px;
  line-height: 15px;
  
}


