@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: black;

}
.card {
  margin: auto;
  margin-top: 60px;
  

}
.html-icon{
    font-size: 25px;
    margin-left: -9px;
   margin-top: 3px;
    
}
.title-left{
   
    text-align: left;
    margin-top: 2px;
    letter-spacing: -0.5px;
   
    
}
.html-title{
    margin-top: -7px;
    font-size:13.6px;
    


}
.name-title{
    margin-top: -5px;
    font-size: 14px;

}
.ellipsis{
    font-size: 26px;
    margin-right: -9px;
    
}
.card-img-top {
  margin-left: -1px;
  margin-top: 0px;
}
.icons-left{
    font-size: 30px;
}
.icon-bookmark{
    font-size: 30px;
   
}
.card-body{
    margin-top: -10px;
    margin-left:-9px;
}
.card-caption {
  
  font-size: 13px;
}
.card-text {
  margin-top:-7px;
  font-size: 14px;
  line-height: 15px;
  
}


